*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}
html{
    scroll-behavior: smooth;
}
nav i{
    width: 200px;
    height: 100px;
    margin-right: 100px;

}
nav img{
    height: 100px;
    width: 100px;
}
.header{
    
    min-height: 150vh;
    width: 100%;
    
    background-image:linear-gradient(rgba(41, 42, 43, 0.7),rgba(19, 20, 20, 0.7)),url("../imgs/R.jpg");
    background-position: center;
    background-size: cover;
   
}
.header h1{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 250px;
    left: 30px;
    font-size: 40px;
}
.nav-links {
    background-color: rgb(22, 21, 21);
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.nav-links a{
    color: #706767;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 20px;
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px
}
.nav-links a:hover{
    background-color: #2e2b2b;
    color:white ;
    transition: 1s;
}

.text-box{
    
    width: 90%;
    color: #fff;
    position: absolute;
    top: 400px;
    left: 630px;
    transform:translate(-50%,-50%);
   
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff ;
    margin-top: 30px;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    background: transparent;
}
.hero-btn:hover{
    background-color: #2e2b2b;
    color: white;
}
.text-box h1{
    
    font-size: 50px;
}

.text-box p{
    font-family:cursive ;
    font-size: 30px;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:600;
}
.icons .fa {
  color: #2e2b2b;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.project{
    margin-top: 200px;
    margin-left: 50px;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 250px;
    left: 630px;
    transform:translate(-50%,-50%);
    display:flex;
    justify-content: space-between;
   
}
.project h1{
    
    font-size: 40px;
}
.col{
    flex-basis: 31%;
    background: #2e2b2b ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    
    transition: 0.5s;
}
.col a{
  color: white;
  text-decoration: none;
}
.skills{
    margin-top: 200px;
    margin-left: 50px;
    position: absolute;
    top: 200px;
    left: 15px;
   width: 90%;
   
    
}
.skills p{
    color: white;

}

.container {
   
    justify-content: space-between;
    background-color: rgb(192, 192, 192);
    width: 80%;
    height: 15px;
    border-radius: 10px;
}

.skill {
    background-color: rgb(24, 39, 70);
    color: white;
    padding: 0%;
    text-align: right;
    font-size: 10px;
    border-radius: 15px;
}

.html {
    width: 80%;
}
.css {
    width: 60%;
    
}
.js {
    width: 40%;
    
}
.cpp {
    width: 80%;
    
}
.java {
    width: 90%;
    
}
.react {
    width: 70%;
    
}
.about{
margin-top: 200px;
margin-left: 50px;
position: absolute;
top: 200px;
left: 15px;
}





































